<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      //APP_CONF
    </script>
    <style></style>
    <meta charset="utf-8" />
    <meta property="og:type" content="object" />
    <meta property="og:site_name" content="vuetsexpress" />
    <meta property="og:url" content="https://appvuetsexpress.herokuapp.com/" />
    <meta
      property="og:title"
      content="vuetsexpress | Vue 3 App in Tyepscript with Express Server"
    />
    <meta
      property="og:description"
      content="Vue 3 App in Tyepscript with Express Server."
    />
    <meta property="og:image" content="/favicon.png" />
    <title>Vue Ts Express</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="maple.css" />
  </head>
  <body>
    <div id="welcome">Welcome to Vue Ts Express ...</div>

    <div id="appcont">
      <div id="app"></div>
    </div>

    <script src="client.js"></script>
  </body>
</html>
