button {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
button.red {
  background-color: #faa;
}
button.green {
  background-color: #afa;
}
button.blue {
  background-color: #aaf;
}
button.yellow {
  background-color: #ffa;
}
