.link {
  display: inline-block;
  padding: 1px !important;
  margin: 1px !important;
  background-color: inherit !important;
}

@mixin centerflex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.textinput {
  display: inline-block;
  margin: 1px;
  .cont {
    padding: 1px !important;
    background-color: #eee !important;
    @include centerflex;
    .text {
      font-family: monospace !important;
      font-size: 16px !important;
      margin-left: 5px !important;
      padding: 2px 6px 2px 6px !important;
    }
    button {
      margin-left: 5px;
      padding: 2px !important;
      font-size: 14px !important;
    }
    .submit {
    }
    .copy {
    }
  }
}

.labeled {
  display: inline-block;
  background-color: transparent !important;
  .cont {
    padding: 2px !important;
    margin: 1px;
    border: solid 1px #777;
    border-radius: 6px;
    background-color: #ccc !important;
    @include centerflex;
    .label {
      background-color: #eee !important;
      color: #070;
      font-style: italic;
      padding-left: 3px;
      padding-right: 3px;
      border: solid 1px;
      border-radius: 5px;
    }
    .content {
      @include centerflex;
      padding: 3px;
      background-color: #ffa;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}

/////////////////////////////////////////////////////////////////////////@at-root

.clockcomp {
  $segheightbase: 50%;
  @mixin vertseg {
    height: calc($segheightbase - 35px);
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    width: 15px;
  }

  display: inline-block;
  padding: 10px;
  height: 220px;
  border: solid 3px;

  .clock {
    height: 200px;
    position: relative;
    width: 900px;
    text-align: center;
    margin-left: -45px !important;
    margin-right: -45px !important;
  }

  .digit {
    width: 120px;
    height: 200px;
    margin: 0 5px;
    position: relative;
    display: inline-block;
  }

  .digit .segment {
    border-radius: 5px;
    position: absolute;
    opacity: 0.15;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
  }

  .digit .segment.on,
  .separator {
    opacity: 1;
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.7);
    transition: opacity 0s;
    -webkit-transition: opacity 0s;
    -ms-transition: opacity 0s;
    -moz-transition: opacity 0s;
    -o-transition: opacity 0s;
  }

  .separator {
    width: 20px;
    height: 20px;
    //background: #c00;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -90px;
  }

  .digit .segment:nth-child(1) {
    top: 10px;
    left: 20px;
    right: 20px;
    height: 10px;
  }

  .digit .segment:nth-child(2) {
    top: 20px;
    right: 10px;

    @include vertseg;
  }

  .digit .segment:nth-child(3) {
    bottom: 20px;
    right: 10px;

    @include vertseg;
  }

  .digit .segment:nth-child(4) {
    bottom: 10px;
    right: 20px;
    height: 10px;
    left: 20px;
  }

  .digit .segment:nth-child(5) {
    bottom: 20px;
    left: 10px;

    @include vertseg;
  }

  .digit .segment:nth-child(6) {
    top: 20px;
    left: 10px;

    @include vertseg;
  }

  .digit .segment:nth-child(7) {
    bottom: 95px;
    bottom: calc($segheightbase - 5px);
    right: 20px;
    left: 20px;
    height: 10px;
  }
}
