@mixin generaldigit {
  border: solid 1px transparent;
}

.quartzdigit {
  display: inline-block;

  .grid {
    grid-gap: 0px;
    display: grid;
    background-color: inherit !important;
    .top {
      grid-row: 1;
      grid-column: 2;

      @include generaldigit;
    }
    .rightupper {
      grid-row: 2;
      grid-column: 3;

      @include generaldigit;
    }
    .rightlower {
      grid-row: 4;
      grid-column: 3;

      @include generaldigit;
    }
    .bottom {
      grid-row: 5;
      grid-column: 2;

      @include generaldigit;
    }
    .leftlower {
      grid-row: 4;
      grid-column: 1;

      @include generaldigit;
    }
    .leftupper {
      grid-row: 2;
      grid-column: 1;

      @include generaldigit;
    }
    .middle {
      grid-row: 3;
      grid-column: 2;

      @include generaldigit;
    }
  }
}

.quartzdigitgroup {
  display: inline-block;
  .cont {
    display: flex;
  }
}
